.container {
    width: 1100px;
}

body {
    padding-top: 80px;
}

a {
    color: #323232;
}

a:hover {
    color: #0bb536;
}

#category a {
    padding: 5px 15px;
}

#body {
    background-color: #f7f7f7;
}

#body .banner {
    width: 100%;
    margin-bottom: 20px;
}

#footer {
    padding: 20px 0;
}

.green {
    color: #0bb536;
}
